:root{
  font-size: calc(1vw + 1vh + 1.5vmln);
  font-family:arial;

}

.sign-jumbotron {

  font-family:arial;
  font-weight: 400;
  text-align: center;
  background: #0a0b0a;
  background-image: url(svg.png);
}

.sign-on{
  color: white;
}

.sign-off{
  color: #0a0b0a;
}

.neon{
  text-transform: : uppercase;
  color: #ffff;
  text-shadow:
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff112,
  0 0 150px #0ff112;
}
